.headings-1 {
	margin: 1em 0 0.5em 0;
	color: #343434;
	font-weight: bold;
	font-family: 'Ultra', sans-serif;   
	font-size: 3.5vh;
	line-height: 42px;
        
	text-shadow: 0 2px white, 0 3px #777;
}

.container{
	background-color: #38b9b3;
	

}
